In [1]:
import sqlite3 # import sql to connect to database 
import pandas as pd # import pandas for exploration and data handling

In [2]:
# store database path as an object
db_path = '/Users/juskiiii/Saftey-Risk-Analysis/Saftey-Risk-Analysis/database/Safety.db'

# Load database object file into sql connection
conn = sqlite3.connect(db_path)

In [3]:
# list of tables and view created via SQL 
list = pd.read_sql("SELECT name FROM sqlite_master WHERE type IN ('table', 'view');", conn)

list

                               name
0          raw_contributing_factors
1                  raw_hours_worked
2                    raw_path_rates
3                    raw_root_cause
4                raw_severity_level
5                  raw_site_details
6                  raw_event_counts
7                  raw_process_path
8               feat_site_week_risk
9         feat_site_week_hours_path
10     int_site_period_process_path
11  int_site_period_week_hours_path
12                 stg_hours_worked
13                 stg_site_details
14                 stg_event_counts
15                 stg_process_path
16               stg_severity_level
17         stg_contributing_factors
18                   stg_path_rates
19                   stg_root_cause
20   int_site_period_classification
21                     week_mapping
22              int_site_week_hours
23            int_site_process_path
24         int_site_week_hours_path
25                  dist_root_cause
26                dist_process_path
27        dist_contributing_factors
28              dist_severity_level
29        feat_site_week_hours_risk
30   feat_site_week_hours_path_risk

In [4]:
#             --- Check for invalid grain in site exposure dataset (Quality Assurance) --- 

site_exposure = pd.read_sql('select * from int_site_week_hours;', conn)

In [5]:
# Check for dupes in grainn 

QA1 = pd.read_sql("""SELECT site, fiscal_year, week_sum, COUNT (*) as cnt 
                    FROM int_site_week_hours
                    GROUP BY site, fiscal_year, week_sum 
                    HAVING COUNT (*) > 1;""", conn)

QA1

Empty DataFrame
Columns: [site, fiscal_year, week_sum, cnt]
Index: []

In [6]:
# Check for null rows in grain 

QA2 = pd.read_sql("""SELECT 
                        (CASE WHEN site IS NULL or site = '' THEN 1 ELSE 0 END) as bad_site, 
                        (CASE WHEN fiscal_year IS NULL THEN 1 ELSE 0 END) as bad_year, 
                        (CASE WHEN week_sum IS NULL THEN 1 ELSE 0 END) as bad_week
                            FROM int_site_week_hours;""", conn)

QA2

    bad_site  bad_year  bad_week
0          0         0         0
1          0         0         0
2          0         0         0
3          0         0         0
4          0         0         0
5          0         0         0
6          0         0         0
7          0         0         0
8          0         0         0
9          0         0         0
10         0         0         0
11         0         0         0
12         0         0         0
13         0         0         0
14         0         0         0
15         0         0         0
16         0         0         0
17         0         0         0
18         0         0         0
19         0         0         0
20         0         0         0
21         0         0         0
22         0         0         0
23         0         0         0
24         0         0         0
25         0         0         0
26         0         0         0
27         0         0         0
28         0         0         0
29         0         0         0
30         0         0         0
31         0         0         0
32         0         0         0
33         0         0         0
34         0         0         0
35         0         0         0
36         0         0         0
37         0         0         0
38         0         0         0
39         0         0         0
40         0         0         0
41         0         0         0
42         0         0         0
43         0         0         0
44         0         0         0
45         0         0         0
46         0         0         0
47         0         0         0
48         0         0         0
49         0         0         0
50         0         0         0
51         0         0         0

In [7]:
#                       --- Check for invalid rows in path exposure dataset --- 

path_exposure = pd.read_sql('SELECT * FROM int_site_week_hours_path;', conn)


# side note: ignore checking for duplicates in this table

In [8]:
#  Check for null rows in grain 

QA3 = pd.read_sql("""SELECT 
                      (CASE WHEN site IS NULL or site = '' THEN 1 ELSE 0 END) as bad_site,
                      (CASE WHEN fiscal_year IS NULL THEN 1 ELSE 0 END) as bad_year, 
                      (CASE WHEN week_sum IS NULL THEN 1 ELSE 0 END) as bad_week,
                      (CASE WHEN process_path IS NULL or process_path = '' THEN 1 ELSE 0 END) as bad_path
                FROM int_site_week_hours_path;""", conn)
QA3

      bad_site  bad_year  bad_week  bad_path
0            0         0         0         0
1            0         0         0         0
2            0         0         0         0
3            0         0         0         0
4            0         0         0         0
...        ...       ...       ...       ...
2518         0         0         0         0
2519         0         0         0         0
2520         0         0         0         0
2521         0         0         0         0
2522         0         0         0         0

[2523 rows x 4 columns]

In [9]:
#                         --- Check for invalid rows in features dataset --- 

feat_site_exposure = pd.read_sql('SELECT * FROM feat_site_week_hours_risk;', conn)

In [10]:
# Check for duplicate rows in site features dataset

QA4 = pd.read_sql("""SELECT site, fiscal_year, week_sum, COUNT (*) as cnt
                    FROM feat_site_week_hours_risk
                    GROUP BY site, fiscal_year, week_sum 
                    HAVING COUNT (*) > 1;""", conn )

QA4

Empty DataFrame
Columns: [site, fiscal_year, week_sum, cnt]
Index: []

In [11]:
# Check for null rows in site features dataset

QA5 = pd.read_sql("""SELECT 
                        (CASE WHEN site IS NULL or site = '' THEN 1 ELSE 0 END) as bad_site, 
                        (CASE WHEN fiscal_year IS NULL THEN 1 ELSE 0 END) as bad_year, 
                        (CASE WHEN week_sum IS NULL THEN 1 ELSE 0 END) as bad_week
                    FROM feat_site_week_hours_risk;""", conn)

QA5

    bad_site  bad_year  bad_week
0          0         0         0
1          0         0         0
2          0         0         0
3          0         0         0
4          0         0         0
5          0         0         0
6          0         0         0
7          0         0         0
8          0         0         0
9          0         0         0
10         0         0         0
11         0         0         0
12         0         0         0
13         0         0         0
14         0         0         0
15         0         0         0
16         0         0         0
17         0         0         0
18         0         0         0
19         0         0         0
20         0         0         0
21         0         0         0
22         0         0         0
23         0         0         0
24         0         0         0
25         0         0         0
26         0         0         0
27         0         0         0
28         0         0         0
29         0         0         0
30         0         0         0
31         0         0         0
32         0         0         0
33         0         0         0
34         0         0         0
35         0         0         0
36         0         0         0
37         0         0         0
38         0         0         0
39         0         0         0
40         0         0         0
41         0         0         0
42         0         0         0
43         0         0         0
44         0         0         0
45         0         0         0
46         0         0         0
47         0         0         0
48         0         0         0
49         0         0         0
50         0         0         0
51         0         0         0

In [12]:
#           --- Check context features for invalid rows --- 

root_cause = pd.read_sql('SELECT * FROM dist_root_cause;', conn)
factor = pd.read_sql('SELECT * FROM dist_contributing_factors;', conn)
severity = pd.read_sql('SELECT * FROM dist_severity_level;', conn)
path = pd.read_sql('SELECT * FROM dist_process_path;', conn)

In [13]:
# view root cause 
root_cause

,root_cause,incidents,ri,dart,pct_of_incidents,pct_of_ri,pct_of_dart
0,improper extension of service life,1,0,0,0.537634,0.000000,0.000000
1,inadequate adjustment/repair,2,0,0,1.075269,0.000000,0.000000
2,inadequate communication between shifts,1,0,0,0.537634,0.000000,0.000000
3,inadequate communication between work groups,1,0,0,0.537634,0.000000,0.000000
4,inadequate communication due to associate turn...,1,1,1,0.537634,2.127660,2.272727
5,inadequate communication of safety requirements,1,0,0,0.537634,0.000000,0.000000
6,inadequate communication of standards or proce...,7,4,4,3.763441,8.510638,9.090909
7,inadequate consideration of ergonomics,2,1,1,1.075269,2.127660,2.272727
8,"inadequate design standards, specifications an...",2,2,2,1.075269,4.255319,4.545455
9,inadequate development / quality of standards ...,1,0,0,0.537634,0.000000,0.000000
10,inadequate enforcement of procedures,21,4,4,11.290323,8.510638,9.090909
11,inadequate human factors/ergonomics considerat...,2,0,0,1.075269,0.000000,0.000000
12,inadequate implementation of procedure,36,6,6,19.354839,12.765957,13.636364
13,inadequate knowledge transfer,2,1,1,1.075269,2.127660,2.272727
14,inadequate or lack of inspection and/or monito...,1,0,0,0.537634,0.000000,0.000000
15,inadequate preventive maintenance,13,2,2,6.989247,4.255319,4.545455
16,inadequate recall of training material,16,4,3,8.602151,8.510638,6.818182
17,inadequate reparative maintenance,2,0,0,1.075269,0.000000,0.000000
18,inadequate risk assessment or identification o...,2,1,1,1.075269,2.127660,2.272727
19,inadequate training effort,1,0,0,0.537634,0.000000,0.000000
20,missing standards or procedures,57,18,16,30.645161,38.297872,36.363636
21,no training provided,1,1,1,0.537634,2.127660,2.272727
22,other,11,1,1,5.913978,2.127660,2.272727
23,providing instruction to perform task without ...,1,1,1,0.537634,2.127660,2.272727
24,use for wrong purpose,1,0,0,0.537634,0.000000,0.000000

In [14]:
# view contributing factors 
factor

,contributing_factor,incidents,ri,dart,pct_of_site_incidents,pct_of_site_ri,pct_of_site_dart
0,human - behaviour,12,12,11,66.666667,66.666667,68.75
1,human - leadership,2,2,2,11.111111,11.111111,12.50
2,organizational - process,3,3,3,16.666667,16.666667,18.75
3,organizational - workplace,1,1,0,5.555556,5.555556,0.00

In [15]:

# view process path
path

,process_path,incidents,ri,dart,pct_of_incidents,pct_of_ri,pct_of_dart
0,admin/hr/it,3,1,1,1.507538,2.040816,2.173913
1,c-returns processed,3,0,0,1.507538,0.000000,0.000000
2,container build,8,2,2,4.020101,4.081633,4.347826
3,each transfer in,8,3,3,4.020101,6.122449,6.521739
4,each-receive,7,1,1,3.517588,2.040816,2.173913
5,fluid load,6,1,1,3.015075,2.040816,2.173913
6,ic-qa-cs,14,4,4,7.035176,8.163265,8.695652
7,ic/qa/cs,1,0,0,0.502513,0.000000,0.000000
8,lp-receive,1,1,1,0.502513,2.040816,2.173913
9,pack multis,3,1,1,1.507538,2.040816,2.173913
10,pack singles,16,5,5,8.040201,10.204082,10.869565
11,pack support,1,1,1,0.502513,2.040816,2.173913
12,pick,49,12,11,24.623116,24.489796,23.913043
13,pick support,2,1,1,1.005025,2.040816,2.173913
14,receive-support,3,0,0,1.507538,0.000000,0.000000
15,rsr support,7,2,2,3.517588,4.081633,4.347826
16,ship dock,2,1,1,1.005025,2.040816,2.173913
17,ship dock support,1,1,0,0.502513,2.040816,0.000000
18,sort-batch,1,0,0,0.502513,0.000000,0.000000
19,stow to prime,41,10,9,20.603015,20.408163,19.565217
20,stow to prime spt,3,0,0,1.507538,0.000000,0.000000
21,transfer in dock,4,0,0,2.010050,0.000000,0.000000
22,transfer in support,1,0,0,0.502513,0.000000,0.000000
23,transfer out,5,0,0,2.512563,0.000000,0.000000
24,transfer out dock,2,1,1,1.005025,2.040816,2.173913
25,transfer out lead/pa,1,1,1,0.502513,2.040816,2.173913
26,transfer out pick,5,0,0,2.512563,0.000000,0.000000
27,v-returns pick,1,0,0,0.502513,0.000000,0.000000

In [16]:
# view severity level 
severity

  severity  incidents  ri  dart  pct_of_incidents  pct_of_ri  pct_of_dart
0        c         49  49    46         24.623116      100.0        100.0
1        d        150   0     0         75.376884        0.0          0.0

In [18]:
# Close connection to database 
conn.close()