In [8]:
import sqlite3 # import sql to connect to database 
import pandas as pd # import pandas for exploration and data handling

In [10]:
# store database path as an object
db_path = '/Users/juskiiii/Saftey-Risk-Analysis/Saftey-Risk-Analysis/database/Safety.db'

# Load database object file into sql connection
conn = sqlite3.connect(db_path)

In [12]:
# list of tables and view created via SQL 
list = pd.read_sql("SELECT name FROM sqlite_master WHERE type IN ('table', 'view');", conn)

list

                               name
0          raw_contributing_factors
1                  raw_hours_worked
2                    raw_path_rates
3                    raw_root_cause
4                raw_severity_level
5                  raw_site_details
6                  raw_event_counts
7                  raw_process_path
8               feat_site_week_risk
9         feat_site_week_hours_path
10     int_site_period_process_path
11  int_site_period_week_hours_path
12                 stg_hours_worked
13                 stg_site_details
14                 stg_event_counts
15                 stg_process_path
16               stg_severity_level
17         stg_contributing_factors
18                   stg_path_rates
19                   stg_root_cause
20   int_site_period_classification
21                     week_mapping
22              int_site_week_hours
23            int_site_process_path
24         int_site_week_hours_path
25                  dist_root_cause
26                dist_process_path
27        dist_contributing_factors
28              dist_severity_level
29        feat_site_week_hours_risk
30   feat_site_week_hours_path_risk

In [ ]:
#             --- Check for invalid grain in site exposure dataset (Quality Assurance) --- 

site_exposure = pd.read_sql('select * from int_site_week_hours;', conn)

In [14]:
# Check for dupes in grainn 

QA1 = pd.read_sql("""SELECT site, fiscal_year, week_sum, COUNT (*) as cnt 
                    FROM int_site_week_hours
                    GROUP BY site, fiscal_year, week_sum 
                    HAVING COUNT (*) > 1;""", conn)

QA1

Empty DataFrame
Columns: [site, fiscal_year, week_sum, cnt]
Index: []

In [17]:
# Check for null rows in grain 

QA2 = pd.read_sql("""SELECT 
                        (CASE WHEN site IS NULL or site = '' THEN 1 ELSE 0 END) as bad_site, 
                        (CASE WHEN fiscal_year IS NULL THEN 1 ELSE 0 END) as bad_year, 
                        (CASE WHEN week_sum IS NULL THEN 1 ELSE 0 END) as bad_week
                            FROM int_site_week_hours;""", conn)

QA2

    bad_site  bad_year  bad_week
0          0         0         0
1          0         0         0
2          0         0         0
3          0         0         0
4          0         0         0
5          0         0         0
6          0         0         0
7          0         0         0
8          0         0         0
9          0         0         0
10         0         0         0
11         0         0         0
12         0         0         0
13         0         0         0
14         0         0         0
15         0         0         0
16         0         0         0
17         0         0         0
18         0         0         0
19         0         0         0
20         0         0         0
21         0         0         0
22         0         0         0
23         0         0         0
24         0         0         0
25         0         0         0
26         0         0         0
27         0         0         0
28         0         0         0
29         0         0         0
30         0         0         0
31         0         0         0
32         0         0         0
33         0         0         0
34         0         0         0
35         0         0         0
36         0         0         0
37         0         0         0
38         0         0         0
39         0         0         0
40         0         0         0
41         0         0         0
42         0         0         0
43         0         0         0
44         0         0         0
45         0         0         0
46         0         0         0
47         0         0         0
48         0         0         0
49         0         0         0
50         0         0         0
51         0         0         0

In [ ]:
#                       --- Check for invalid rows in path exposure dataset --- 

path_exposure = pd.read_sql('SELECT * FROM int_site_week_hours_path;', conn)


# side note: ignore checking for duplicates in this table

In [20]:
#  Check for null rows in grain 

QA3 = pd.read_sql("""SELECT 
                      (CASE WHEN site IS NULL or site = '' THEN 1 ELSE 0 END) as bad_site,
                      (CASE WHEN fiscal_year IS NULL THEN 1 ELSE 0 END) as bad_year, 
                      (CASE WHEN week_sum IS NULL THEN 1 ELSE 0 END) as bad_week,
                      (CASE WHEN process_path IS NULL or process_path = '' THEN 1 ELSE 0 END) as bad_path
                FROM int_site_week_hours_path;""", conn)
QA3

      bad_site  bad_year  bad_week  bad_path
0            0         0         0         0
1            0         0         0         0
2            0         0         0         0
3            0         0         0         0
4            0         0         0         0
...        ...       ...       ...       ...
2518         0         0         0         0
2519         0         0         0         0
2520         0         0         0         0
2521         0         0         0         0
2522         0         0         0         0

[2523 rows x 4 columns]

In [ ]:
#                         --- Check for invalid rows in features dataset --- 

feat_site_exposure = pd.read_sql('SELECT * FROM feat_site_week_hours_risk;', conn)

,site,fiscal_year,week_sum,air_incidents,ytd_rate,hours_ytd,incidents_weekly,hours_weekly,incidents_4wk_avg,hours_4wk_avg,incidents_4wk_std,hours_4wk_std,incidents_per_10k_hours_rate,hours_per_incident_rate,hours_deviation,hours_deviation_pct,hours_zscore_4wk,incident_spike_flag,hours_drop_flag,hours_spike_flag
0,teb3,2025,1,0,0.000000,26118.943,0,26118.943,0.000000,26118.94300,0.000000,0.000000,0.000000,NaN,0.00000,0.000000,NaN,0,0,0
1,teb3,2025,2,1,3.456135,57868.114,1,31749.171,0.500000,28934.05700,0.500000,15874.585500,0.314969,31749.171000,2815.11400,0.097294,0.177335,1,0,1
2,teb3,2025,3,4,8.750908,91419.084,3,33550.970,1.333333,30473.02800,1.247219,26662.053480,0.894162,11183.656667,3077.94200,0.101005,0.115443,1,0,1
3,teb3,2025,4,6,9.668887,124109.422,2,32690.338,1.500000,31027.35550,1.118034,36620.084073,0.611802,16345.169000,1662.98250,0.053597,0.045412,1,0,1
4,teb3,2025,5,12,15.400997,155834.071,6,31724.649,3.000000,32428.78200,1.870829,36516.528199,1.891274,5287.441500,-704.13300,-0.021713,-0.019283,1,1,0
5,teb3,2025,6,15,15.998912,187512.753,3,31678.682,3.500000,32411.15975,1.500000,35778.761682,0.947009,10559.560667,-732.47775,-0.022600,-0.020472,0,1,0
6,teb3,2025,7,18,16.632175,216447.941,3,28935.188,3.500000,31257.21425,1.500000,34521.427278,1.036800,9645.062667,-2322.02625,-0.074288,-0.067263,0,1,0
7,teb3,2025,8,21,16.874050,248902.896,3,32454.955,3.750000,31198.36850,1.299038,34458.947661,0.924358,10818.318333,1256.58650,0.040277,0.036466,0,0,1
8,teb3,2025,9,26,18.498500,281103.867,5,32200.971,3.500000,31317.44900,0.866025,35032.044961,1.552748,6440.194200,883.52200,0.028212,0.025220,1,0,1
9,teb3,2025,10,36,22.928863,314014.694,10,32910.827,5.250000,31625.48525,2.861381,36325.400435,3.038514,3291.082700,1285.34175,0.040643,0.035384,1,0,1
10,teb3,2025,11,42,24.332144,345222.349,6,31207.655,6.000000,32193.60200,2.549510,35987.937039,1.922605,5201.275833,-985.94700,-0.030626,-0.027397,0,1,0
11,teb3,2025,12,48,25.575923,375353.021,6,30130.672,6.750000,31612.53125,1.920286,35108.199525,1.991326,5021.778667,-1481.85925,-0.046876,-0.042208,0,1,0
12,teb3,2025,13,50,24.750475,404032.643,2,28679.622,6.000000,30732.19400,2.828427,33567.625796,0.697359,14339.811000,-2052.57200,-0.066789,-0.061147,0,1,0
13,teb3,2025,14,52,23.956422,434121.586,2,30088.943,4.000000,30026.72300,2.000000,33025.739825,0.664696,15044.471500,62.22000,0.002072,0.001884,0,0,1
14,teb3,2025,15,53,22.861586,463659.861,1,29538.275,2.750000,29609.37800,1.920286,32984.487119,0.338544,29538.275000,-71.10300,-0.002401,-0.002156,0,1,0
15,teb3,2025,16,57,23.137913,492697.846,4,29037.985,2.250000,29336.20625,1.089725,33042.737798,1.377506,7259.496250,-298.22125,-0.010166,-0.009025,1,1,0
16,teb3,2025,17,58,22.189887,522760.671,1,30062.825,2.000000,29682.00700,1.224745,32977.699925,0.332637,30062.825000,380.81800,0.012830,0.011548,0,0,1
17,teb3,2025,18,62,22.271323,556769.807,4,34009.136,2.500000,30662.05525,1.500000,34615.010585,1.176155,8502.284000,3347.08075,0.109160,0.096694,1,0,1
18,teb3,2025,19,66,22.375266,589937.126,4,33167.319,3.250000,31569.31625,1.299038,36429.585929,1.206006,8291.829750,1598.00275,0.050619,0.043866,1,0,1
19,teb3,2025,20,68,21.817490,623353.106,2,33415.980,2.750000,32663.81500,1.299038,37448.439463,0.598516,16707.990000,752.16500,0.023027,0.020085,0,0,1
20,teb3,2025,21,71,21.597483,657484.025,3,34130.919,3.250000,33680.83850,0.829156,37517.405443,0.878968,11376.973000,450.08050,0.013363,0.011997,0,0,1
21,teb3,2025,22,74,21.412612,691181.456,3,33697.431,3.000000,33602.91225,0.707107,37774.617133,0.890276,11232.477000,94.51875,0.002813,0.002502,0,0,1
22,teb3,2025,23,78,21.495170,725744.431,4,34562.975,3.000000,33951.82625,0.707107,38111.011577,1.157308,8640.743750,611.14875,0.018000,0.016036,1,0,1
23,teb3,2025,24,80,21.021835,761113.384,2,35368.953,3.000000,34440.06950,0.707107,38624.862913,0.565468,17684.476500,928.88350,0.026971,0.024049,0,0,1
24,teb3,2025,25,84,21.049624,798114.025,4,37000.641,3.250000,35157.50000,0.829156,39825.413144,1.081062,9250.160250,1843.14100,0.052425,0.046281,1,0,1
25,teb3,2025,26,90,21.542693,835550.144,6,37436.119,4.000000,36092.17200,1.414214,40970.231006,1.602730,6239.353167,1343.94700,0.037237,0.032803,1,0,1
26,teb3,2025,27,92,21.191046,868291.264,2,32741.120,3.500000,35636.70825,1.658312,40152.261341,0.610853,16370.560000,-2895.58825,-0.081253,-0.072115,0,1,0
27,teb3,2025,28,99,21.714979,911812.994,7,43521.730,4.750000,37674.90250,1.920286,41859.816383,1.608392,6217.390000,5846.82750,0.155192,0.139676,1,0,1
28,teb3,2025,29,113,23.757174,951291.597,14,39478.603,7.250000,38294.39300,4.322904,43750.602515,3.546225,2819.900214,1184.21000,0.030924,0.027067,1,0,1
29,teb3,2025,30,118,24.023456,982373.244,5,31081.647,7.000000,36705.77500,4.415880,42794.035928,1.608666,6216.329400,-5624.12800,-0.153222,-0.131423,0,1,0
30,teb3,2025,31,125,24.689208,1012588.169,7,30214.925,8.250000,36074.22625,3.418699,37357.416502,2.316736,4316.417857,-5859.30125,-0.162423,-0.156844,0,1,0
31,teb3,2025,32,134,25.673750,1043867.766,9,31279.597,8.750000,33013.69300,3.344772,34429.835085,2.877275,3475.510778,-1734.09600,-0.052527,-0.050366,1,1,0
32,teb3,2025,33,139,25.846122,1075596.570,5,31728.804,6.500000,31076.24325,1.658312,34767.347493,1.575855,6345.760800,652.56075,0.020999,0.018769,0,0,1
33,teb3,2025,34,142,25.647635,1107314.568,3,31717.998,6.000000,31235.33100,2.236068,35319.795739,0.945835,10572.666000,482.66700,0.015453,0.013666,0,0,1
34,teb3,2025,35,147,25.820575,1138626.843,5,31312.275,5.500000,31509.66850,2.179449,35329.521684,1.596818,6262.455000,-197.39350,-0.006265,-0.005587,0,1,0
35,teb3,2025,36,149,25.483147,1169400.297,2,30773.454,3.750000,31383.13275,1.299038,34964.345851,0.649911,15386.727000,-609.67875,-0.019427,-0.017437,0,1,0
36,teb3,2025,37,155,25.876551,1197995.802,6,28595.505,4.000000,30599.80800,1.581139,33863.295193,2.098232,4765.917500,-2004.30300,-0.065501,-0.059188,1,1,0
37,teb3,2025,38,158,25.773890,1226046.957,3,28051.155,4.000000,29683.09725,1.581139,32526.306073,1.069475,9350.385000,-1631.94225,-0.054979,-0.050173,0,1,0
38,teb3,2025,39,159,25.365624,1253665.190,1,27618.233,3.000000,28759.58675,1.870829,31400.471771,0.362080,27618.233000,-1141.35375,-0.039686,-0.036348,0,1,0
39,teb3,2025,40,162,25.219367,1284726.917,3,31061.727,3.250000,28831.65500,1.785357,32190.031211,0.965819,10353.909000,2230.07200,0.077348,0.069278,0,0,1
40,teb3,2025,41,169,25.626825,1318930.460,7,34203.543,3.500000,30233.66450,2.179449,34666.012115,2.046572,4886.220429,3969.87850,0.131307,0.114518,1,0,1
41,teb3,2025,42,174,25.804007,1348627.770,5,29697.310,4.000000,30645.20325,2.236068,35687.366061,1.683654,5939.462000,-947.89325,-0.030931,-0.026561,1,1,0
42,teb3,2025,43,176,25.580615,1376041.991,2,27414.221,4.250000,30594.20025,1.920286,33991.580589,0.729548,13707.110500,-3179.97925,-0.103941,-0.093552,0,1,0
43,teb3,2025,44,177,25.197056,1404926.046,1,28884.055,3.750000,30049.78225,2.384848,31912.205769,0.346212,28884.055000,-1165.72725,-0.038793,-0.036529,0,1,0
44,teb3,2025,45,180,25.138288,1432078.413,3,27152.367,2.750000,28286.98825,1.479020,31221.652611,1.104876,9050.789000,-1134.62125,-0.040111,-0.036341,1,1,0
45,teb3,2025,46,181,24.801959,1459562.112,1,27483.699,1.750000,27733.58550,0.829156,31052.057388,0.363852,27483.699000,-249.88650,-0.009010,-0.008047,0,1,0
46,teb3,2025,47,185,24.853438,1488727.628,4,29165.516,2.250000,28171.40925,1.299038,31185.103096,1.371483,7291.379000,994.10675,0.035288,0.031878,1,0,1
47,teb3,2025,48,190,24.952634,1522885.305,5,34157.677,3.250000,29489.81475,1.479020,33761.646045,1.463800,6831.535400,4667.86225,0.158287,0.138259,1,0,1
48,teb3,2025,49,193,24.732252,1560715.121,3,37829.816,3.250000,32159.17700,1.479020,37809.081540,0.793025,12609.938667,5670.63900,0.176330,0.149981,0,0,1
49,teb3,2025,50,197,24.666198,1597327.677,4,36612.556,4.000000,34441.39125,0.707107,40663.372396,1.092521,9153.139000,2171.16475,0.063039,0.053394,0,0,1
50,teb3,2025,51,201,24.642439,1631332.059,4,34004.382,4.000000,35651.10775,0.707107,40479.153096,1.176319,8501.095500,-1646.72575,-0.046190,-0.040681,0,1,0
51,teb3,2025,52,203,24.577433,1651921.908,2,20589.849,3.250000,32259.15075,0.829156,34647.040927,0.971352,10294.924500,-11669.30175,-0.361736,-0.336805,0,1,0

In [23]:
# Check for duplicate rows in site features dataset

QA4 = pd.read_sql("""SELECT site, fiscal_year, week_sum, COUNT (*) as cnt
                    FROM feat_site_week_hours_risk
                    GROUP BY site, fiscal_year, week_sum 
                    HAVING COUNT (*) > 1;""", conn )

QA4

Empty DataFrame
Columns: [site, fiscal_year, week_sum, cnt]
Index: []

In [24]:
# Check for null rows in site features dataset

QA5 = pd.read_sql("""SELECT 
                        (CASE WHEN site IS NULL or site = '' THEN 1 ELSE 0 END) as bad_site, 
                        (CASE WHEN fiscal_year IS NULL THEN 1 ELSE 0 END) as bad_year, 
                        (CASE WHEN week_sum IS NULL THEN 1 ELSE 0 END) as bad_week
                    FROM feat_site_week_hours_risk;""", conn)

QA5

    bad_site  bad_year  bad_week
0          0         0         0
1          0         0         0
2          0         0         0
3          0         0         0
4          0         0         0
5          0         0         0
6          0         0         0
7          0         0         0
8          0         0         0
9          0         0         0
10         0         0         0
11         0         0         0
12         0         0         0
13         0         0         0
14         0         0         0
15         0         0         0
16         0         0         0
17         0         0         0
18         0         0         0
19         0         0         0
20         0         0         0
21         0         0         0
22         0         0         0
23         0         0         0
24         0         0         0
25         0         0         0
26         0         0         0
27         0         0         0
28         0         0         0
29         0         0         0
30         0         0         0
31         0         0         0
32         0         0         0
33         0         0         0
34         0         0         0
35         0         0         0
36         0         0         0
37         0         0         0
38         0         0         0
39         0         0         0
40         0         0         0
41         0         0         0
42         0         0         0
43         0         0         0
44         0         0         0
45         0         0         0
46         0         0         0
47         0         0         0
48         0         0         0
49         0         0         0
50         0         0         0
51         0         0         0

In [27]:
#           --- Check context features for invalid rows --- 

root_cause = pd.read_sql('SELECT * FROM dist_root_cause;', conn)
factor = pd.read_sql('SELECT * FROM dist_contributing_factors;', conn)
severity = pd.read_sql('SELECT * FROM dist_severity_level;', conn)
path = pd.read_sql('SELECT * FROM dist_process_path;', conn)

DatabaseError: Execution failed on sql 'SELECT * FROM dist_root_cause;': no such column: Indcidents