In [1]:
import sqlite3 # import sql to connect to database 
import pandas as pd # import pandas for exploration and data handling

In [14]:
db_path = 'database/Safety.db'
conn = sqlite3.connect(db_path)

In [15]:
# list of tables and view created via sql 

tables = pd.read_sql('select name from sqlite_master where type in ("table", "view")', conn)
tables

                               name
0          raw_contributing_factors
1                  raw_hours_worked
2                    raw_path_rates
3                    raw_root_cause
4                raw_severity_level
5                  raw_site_details
6                  raw_event_counts
7                  raw_process_path
8               feat_site_week_risk
9         feat_site_week_hours_path
10     int_site_period_process_path
11  int_site_period_week_hours_path
12                 stg_hours_worked
13                 stg_site_details
14                 stg_event_counts
15                 stg_process_path
16               stg_severity_level
17         stg_contributing_factors
18                   stg_path_rates
19                   stg_root_cause
20   int_site_period_classification
21                     week_mapping
22              int_site_week_hours
23            int_site_process_path
24         int_site_week_hours_path
25                  dist_root_cause
26                dist_process_path
27        dist_contributing_factors
28              dist_severity_level
29        feat_site_week_hours_risk
30   feat_site_week_hours_path_risk

In [16]:
# preview of the two seperate unified dataset 

site_exposure = pd.read_sql('select * from int_site_week_hours;', conn) 

process_path_exposure = pd.read_sql('select * from int_site_week_hours_path;', conn)

In [ ]:
# site exposure dataset

print(site_exposure)

    site  fiscal_year period_name  week_sum  air_incidents        hours  \
0   teb3         2025   2025 WK52        52            203  1651921.908
1   teb3         2025   2025 WK51        51            201  1631332.059
2   teb3         2025   2025 WK50        50            197  1597327.677
3   teb3         2025   2025 WK49        49            193  1560715.121
4   teb3         2025   2025 WK48        48            190  1522885.305
5   teb3         2025   2025 WK47        47            185  1488727.628
6   teb3         2025   2025 WK46        46            181  1459562.112
7   teb3         2025   2025 WK45        45            180  1432078.413
8   teb3         2025   2025 WK44        44            177  1404926.046
9   teb3         2025   2025 WK43        43            176  1376041.991
10  teb3         2025   2025 WK42        42            174  1348627.770
11  teb3         2025   2025 WK41        41            169  1318930.460
12  teb3         2025   2025 WK40        40            162  1284726.917
13  teb3         2025   2025 WK39        39            159  1253665.190
14  teb3         2025   2025 WK38        38            158  1226046.957
15  teb3         2025   2025 WK37        37            155  1197995.802
16  teb3         2025   2025 WK36        36            149  1169400.297
17  teb3         2025   2025 WK35        35            147  1138626.843
18  teb3         2025   2025 WK34        34            142  1107314.568
19  teb3         2025   2025 WK33        33            139  1075596.570
20  teb3         2025   2025 WK32        32            134  1043867.766
21  teb3         2025   2025 WK31        31            125  1012588.169
22  teb3         2025   2025 WK30        30            118   982373.244
23  teb3         2025   2025 WK29        29            113   951291.597
24  teb3         2025   2025 WK28        28             99   911812.994
25  teb3         2025   2025 WK27        27             92   868291.264
26  teb3         2025   2025 WK26        26             90   835550.144
27  teb3         2025   2025 WK25        25             84   798114.025
28  teb3         2025   2025 WK24        24             80   761113.384
29  teb3         2025   2025 WK23        23             78   725744.431
30  teb3         2025   2025 WK22        22             74   691181.456
31  teb3         2025   2025 WK21        21             71   657484.025
32  teb3         2025   2025 WK20        20             68   623353.106
33  teb3         2025   2025 WK19        19             66   589937.126
34  teb3         2025   2025 WK18        18             62   556769.807
35  teb3         2025   2025 WK17        17             58   522760.671
36  teb3         2025   2025 WK16        16             57   492697.846
37  teb3         2025   2025 WK15        15             53   463659.861
38  teb3         2025   2025 WK14        14             52   434121.586
39  teb3         2025   2025 WK13        13             50   404032.643
40  teb3         2025   2025 WK12        12             48   375353.021
41  teb3         2025   2025 WK11        11             42   345222.349
42  teb3         2025   2025 WK10        10             36   314014.694
43  teb3         2025   2025 WK09         9             26   281103.867
44  teb3         2025   2025 WK08         8             21   248902.896
45  teb3         2025   2025 WK07         7             18   216447.941
46  teb3         2025   2025 WK06         6             15   187512.753
47  teb3         2025   2025 WK05         5             12   155834.071
48  teb3         2025   2025 WK04         4              6   124109.422
49  teb3         2025   2025 WK03         3              4    91419.084
50  teb3         2025   2025 WK02         2              1    57868.114
51  teb3         2025   2025 WK01         1              0    26118.943

         rate  period_over_period_pct_change  missing_flag_hours  \
0   24.577433                        -0.0027                   1
1   24.642439                        -0.0010                   1
2   24.666198                        -0.0027                   0
3   24.732252                        -0.0089                   0
4   24.952634                         0.0040                   0
5   24.853438                         0.0020                   0
6   24.801959                        -0.0134                   0
7   25.138288                        -0.0024                   0
8   25.197056                        -0.0151                   0
9   25.580615                        -0.0087                   0
10  25.804007                         0.0069                   0
11  25.626825                         0.0161                   0
12  25.219367                        -0.0058                   0
13  25.365624                        -0.0159                   0
14  25.773890                        -0.0040                   0
15  25.876551                         0.0154                   0
16  25.483147                        -0.0131                   0
17  25.820575                         0.0067                   0
18  25.647635                        -0.0077                   0
19  25.846122                         0.0066                   0
20  25.673750                         0.0398                   0
21  24.689208                         0.0276                   0
22  24.023456                         0.0112                   0
23  23.757174                         0.0940                   0
24  21.714979                         0.0247                   0
25  21.191046                        -0.0164                   0
26  21.542693                         0.0234                   0
27  21.049624                         0.0013                   0
28  21.021835                        -0.0221                   0
29  21.495170                         0.0038                   0
30  21.412612                        -0.0086                   0
31  21.597483                        -0.0101                   0
32  21.817490                        -0.0249                   0
33  22.375266                         0.0046                   0
34  22.271323                         0.0036                   0
35  22.189887                        -0.0410                   0
36  23.137913                         0.0120                   0
37  22.861586                        -0.0457                   0
38  23.956422                        -0.0322                   0
39  24.750475                        -0.0323                   0
40  25.575923                         0.0511                   0
41  24.332144                         0.0611                   0
42  22.928863                         0.2394                   0
43  18.498500                         0.0963                   0
44  16.874050                         0.0145                   0
45  16.632175                         0.0395                   0
46  15.998912                         0.0388                   0
47  15.400997                         0.5928                   0
48   9.668887                         0.1049                   0
49   8.750908                         1.5321                   0
50   3.456135                            NaN                   0
51   0.000000                        -1.0000                   0

    employee_hours  contractor_hours  total_hours_worked
0              NaN               NaN                 NaN
1              NaN               NaN                 NaN
2       36615.0551               0.0          36615.0551
3       37833.4828               0.0          37833.4828
4       34153.6103               0.0          34153.6103
5       29165.9159               0.0          29165.9159
6       27483.6331               0.0          27483.6331
7       27152.4998               0.0          27152.4998
8       28884.0548               0.0          28884.0548
9       27414.2212               0.0          27414.2212
10      29697.3099               0.0          29697.3099
11      34203.5436               0.0          34203.5436
12      31061.7269               0.0          31061.7269
13      27618.2326               0.0          27618.2326
14      28051.1555               0.0          28051.1555
15      28595.5048               0.0          28595.5048
16      30773.4537               0.0          30773.4537
17      31312.2756               0.0          31312.2756
18      31717.9976               0.0          31717.9976
19      31728.8037               0.0          31728.8037
20      31279.5978               0.0          31279.5978
21      30214.9247               0.0          30214.9247
22      31081.6472               0.0          31081.6472
23      39478.6026               0.0          39478.6026
24      43521.7304               0.0          43521.7304
25      32741.1196               0.0          32741.1196
26      37436.1192               0.0          37436.1192
27      37000.6410               0.0          37000.6410
28      35368.9524               0.0          35368.9524
29      34562.9758               0.0          34562.9758
30      33697.4308               0.0          33697.4308
31      34130.9189               0.0          34130.9189
32      33415.9802               0.0          33415.9802
33      33167.3192               0.0          33167.3192
34      34009.1359               0.0          34009.1359
35      30062.8244               0.0          30062.8244
36      29037.9855               0.0          29037.9855
37      29538.2747               0.0          29538.2747
38      30088.9434               0.0          30088.9434
39      28679.6218               0.0          28679.6218
40      30130.6718               0.0          30130.6718
41      31207.6551               0.0          31207.6551
42      32910.8269               0.0          32910.8269
43      32200.9711               0.0          32200.9711
44      32454.9551               0.0          32454.9551
45      28935.1881               0.0          28935.1881
46      31678.6822               0.0          31678.6822
47      31724.6487               0.0          31724.6487
48      32690.3375               0.0          32690.3375
49      33550.9705               0.0          33550.9705
50      31749.1705               0.0          31749.1705
51      26118.9438               0.0          26118.9438

In [ ]:
# plot site exposure 
site_exposure.drop(columns = ['period_name', 'contractor_hours'])

,site,fiscal_year,week_sum,air_incidents,hours,rate,period_over_period_pct_change,missing_flag_hours,employee_hours,total_hours_worked
0,teb3,2025,52,203,1651921.908,24.577433,-0.0027,1,NaN,NaN
1,teb3,2025,51,201,1631332.059,24.642439,-0.0010,1,NaN,NaN
2,teb3,2025,50,197,1597327.677,24.666198,-0.0027,0,36615.0551,36615.0551
3,teb3,2025,49,193,1560715.121,24.732252,-0.0089,0,37833.4828,37833.4828
4,teb3,2025,48,190,1522885.305,24.952634,0.0040,0,34153.6103,34153.6103
5,teb3,2025,47,185,1488727.628,24.853438,0.0020,0,29165.9159,29165.9159
6,teb3,2025,46,181,1459562.112,24.801959,-0.0134,0,27483.6331,27483.6331
7,teb3,2025,45,180,1432078.413,25.138288,-0.0024,0,27152.4998,27152.4998
8,teb3,2025,44,177,1404926.046,25.197056,-0.0151,0,28884.0548,28884.0548
9,teb3,2025,43,176,1376041.991,25.580615,-0.0087,0,27414.2212,27414.2212
10,teb3,2025,42,174,1348627.770,25.804007,0.0069,0,29697.3099,29697.3099
11,teb3,2025,41,169,1318930.460,25.626825,0.0161,0,34203.5436,34203.5436
12,teb3,2025,40,162,1284726.917,25.219367,-0.0058,0,31061.7269,31061.7269
13,teb3,2025,39,159,1253665.190,25.365624,-0.0159,0,27618.2326,27618.2326
14,teb3,2025,38,158,1226046.957,25.773890,-0.0040,0,28051.1555,28051.1555
15,teb3,2025,37,155,1197995.802,25.876551,0.0154,0,28595.5048,28595.5048
16,teb3,2025,36,149,1169400.297,25.483147,-0.0131,0,30773.4537,30773.4537
17,teb3,2025,35,147,1138626.843,25.820575,0.0067,0,31312.2756,31312.2756
18,teb3,2025,34,142,1107314.568,25.647635,-0.0077,0,31717.9976,31717.9976
19,teb3,2025,33,139,1075596.570,25.846122,0.0066,0,31728.8037,31728.8037
20,teb3,2025,32,134,1043867.766,25.673750,0.0398,0,31279.5978,31279.5978
21,teb3,2025,31,125,1012588.169,24.689208,0.0276,0,30214.9247,30214.9247
22,teb3,2025,30,118,982373.244,24.023456,0.0112,0,31081.6472,31081.6472
23,teb3,2025,29,113,951291.597,23.757174,0.0940,0,39478.6026,39478.6026
24,teb3,2025,28,99,911812.994,21.714979,0.0247,0,43521.7304,43521.7304
25,teb3,2025,27,92,868291.264,21.191046,-0.0164,0,32741.1196,32741.1196
26,teb3,2025,26,90,835550.144,21.542693,0.0234,0,37436.1192,37436.1192
27,teb3,2025,25,84,798114.025,21.049624,0.0013,0,37000.6410,37000.6410
28,teb3,2025,24,80,761113.384,21.021835,-0.0221,0,35368.9524,35368.9524
29,teb3,2025,23,78,725744.431,21.495170,0.0038,0,34562.9758,34562.9758
30,teb3,2025,22,74,691181.456,21.412612,-0.0086,0,33697.4308,33697.4308
31,teb3,2025,21,71,657484.025,21.597483,-0.0101,0,34130.9189,34130.9189
32,teb3,2025,20,68,623353.106,21.817490,-0.0249,0,33415.9802,33415.9802
33,teb3,2025,19,66,589937.126,22.375266,0.0046,0,33167.3192,33167.3192
34,teb3,2025,18,62,556769.807,22.271323,0.0036,0,34009.1359,34009.1359
35,teb3,2025,17,58,522760.671,22.189887,-0.0410,0,30062.8244,30062.8244
36,teb3,2025,16,57,492697.846,23.137913,0.0120,0,29037.9855,29037.9855
37,teb3,2025,15,53,463659.861,22.861586,-0.0457,0,29538.2747,29538.2747
38,teb3,2025,14,52,434121.586,23.956422,-0.0322,0,30088.9434,30088.9434
39,teb3,2025,13,50,404032.643,24.750475,-0.0323,0,28679.6218,28679.6218
40,teb3,2025,12,48,375353.021,25.575923,0.0511,0,30130.6718,30130.6718
41,teb3,2025,11,42,345222.349,24.332144,0.0611,0,31207.6551,31207.6551
42,teb3,2025,10,36,314014.694,22.928863,0.2394,0,32910.8269,32910.8269
43,teb3,2025,9,26,281103.867,18.498500,0.0963,0,32200.9711,32200.9711
44,teb3,2025,8,21,248902.896,16.874050,0.0145,0,32454.9551,32454.9551
45,teb3,2025,7,18,216447.941,16.632175,0.0395,0,28935.1881,28935.1881
46,teb3,2025,6,15,187512.753,15.998912,0.0388,0,31678.6822,31678.6822
47,teb3,2025,5,12,155834.071,15.400997,0.5928,0,31724.6487,31724.6487
48,teb3,2025,4,6,124109.422,9.668887,0.1049,0,32690.3375,32690.3375
49,teb3,2025,3,4,91419.084,8.750908,1.5321,0,33550.9705,33550.9705
50,teb3,2025,2,1,57868.114,3.456135,NaN,0,31749.1705,31749.1705
51,teb3,2025,1,0,26118.943,0.000000,-1.0000,0,26118.9438,26118.9438