In [37]:
# import neccessary libraries for EDA phase
import pandas as pd
import numpy as np 
import math
import matplotlib.pyplot as plt 
import seaborn as sns

In [38]:
# create connection to database to load csv 
# FYI: I could've saved it to csv and loaded it via pd.read_csv but this project is to show my understand of ETL process

import sqlite3 
db_path = '/Users/juskiiii/Saftey-Risk-Analysis-1/database/Safety.db'
conn = sqlite3.connect(db_path)
site_exposure = pd.read_sql('SELECT * from int_site_week_hours;', conn)

In [39]:
site_exposure.head()

,site,fiscal_year,period_name,week_sum,air_incidents,hours,rate,period_over_period_pct_change,missing_flag_hours,employee_hours,contractor_hours,total_hours_worked
0,teb3,2025,2025 WK52,52,203,1651921.908,24.577433,-0.0027,1,NaN,NaN,NaN
1,teb3,2025,2025 WK51,51,201,1631332.059,24.642439,-0.0010,1,NaN,NaN,NaN
2,teb3,2025,2025 WK50,50,197,1597327.677,24.666198,-0.0027,0,36615.0551,0.0,36615.0551
3,teb3,2025,2025 WK49,49,193,1560715.121,24.732252,-0.0089,0,37833.4828,0.0,37833.4828
4,teb3,2025,2025 WK48,48,190,1522885.305,24.952634,0.0040,0,34153.6103,0.0,34153.6103

In [40]:
# merge features table for site exposure togther 

feat_site_exposure = pd.read_sql('SELECT * from feat_site_week_hours_risk', conn)

site_exposure = site_exposure.merge(feat_site_exposure, how= 'left', on = 'week_sum')

In [41]:
# remove unneccessary columns 

site_exposure.drop(columns= ['period_name', 'rate', 'period_over_period_pct_change',
                             'total_hours_worked', 'site_y', 'fiscal_year_y', 'air_incidents_y',
                             'hours', 'contractor_hours', 'employee_hours',], inplace = True)

In [42]:
# fix column label typos 
site_exposure.rename(columns = {'site_x' : 'site', 'fiscal_year_x': 'year', 
                               'air_incidents_x': 'all_incidents'}, inplace = True)

In [ ]:
# find where nan values exist 
def count_nan(df):            # function name and dataframe 
    for col in df.columns:    # for every loop through a column, store columnn name into col 
        nan_count = df[col].isna().sum() # sweep for nan values and sum the amount, then store as object
        if nan_count > 0:                    # if nan values are greater than zero.... flag it 
            print(col, nan_count)            # output column name and nan count 

count_nan(site_exposure)

hours_per_incident_rate 1
hours_zscore_4wk 1

In [ ]:
# I will be leaving the two defined columns with nan values alone, seeing as week 1 had no incidents
# This in business terms means week 1 was the safest week out of the year.

In [63]:
#                            --- Exploratory Data Analysis ---

# Let's build out a threshold for incident per 10,000 hours 
# Any incidents that occur outisde the expected range of distribution is considered high risk 

q90 = site_exposure['incidents_per_10k_hours_rate'].quantile(0.90)
q95 = site_exposure['incidents_per_10k_hours_rate'].quantile(0.95)

print(f'Incidents outside of the 90th percentile {q90}')
print(f'Incidents outside of the 95th percentile {q95}')

Incidents outside of the 90th percentile 2.0410470786438415
Incidents outside of the 95th percentile 2.5689784329992955

In [68]:
# Creating a 90th and 95th percentile risk flag and store output as an integer

site_exposure['high_risk'] = (site_exposure['incidents_per_10k_hours_rate'] >= q90).astype(int)

site_exposure['extreme_risk'] = (site_exposure['incidents_per_10k_hours_rate'] >= q95).astype(int)

site_exposure[['incidents_per_10k_hours_rate', 'high_risk', 'extreme_risk']]

    incidents_per_10k_hours_rate  high_risk  extreme_risk
0                       0.971352          0             0
1                       1.176319          0             0
2                       1.092521          0             0
3                       0.793025          0             0
4                       1.463800          0             0
5                       1.371483          0             0
6                       0.363852          0             0
7                       1.104876          0             0
8                       0.346212          0             0
9                       0.729548          0             0
10                      1.683654          0             0
11                      2.046572          1             0
12                      0.965819          0             0
13                      0.362080          0             0
14                      1.069475          0             0
15                      2.098232          1             0
16                      0.649911          0             0
17                      1.596818          0             0
18                      0.945835          0             0
19                      1.575855          0             0
20                      2.877275          1             1
21                      2.316736          1             0
22                      1.608666          0             0
23                      3.546225          1             1
24                      1.608392          0             0
25                      0.610853          0             0
26                      1.602730          0             0
27                      1.081062          0             0
28                      0.565468          0             0
29                      1.157308          0             0
30                      0.890276          0             0
31                      0.878968          0             0
32                      0.598516          0             0
33                      1.206006          0             0
34                      1.176155          0             0
35                      0.332637          0             0
36                      1.377506          0             0
37                      0.338544          0             0
38                      0.664696          0             0
39                      0.697359          0             0
40                      1.991326          0             0
41                      1.922605          0             0
42                      3.038514          1             1
43                      1.552748          0             0
44                      0.924358          0             0
45                      1.036800          0             0
46                      0.947009          0             0
47                      1.891274          0             0
48                      0.611802          0             0
49                      0.894162          0             0
50                      0.314969          0             0
51                      0.000000          0             0